{% extends 'admin/base.html' %}


{% block body %}
<h1 class="text-center text-danger">Thống kê doanh thu</h1>
<div class="row">
    <div class="col-md-5 col-xs-12">
        <table class="table">
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sản phầm</th>
                <th>Doanh thu</th>
            </tr>
            {% for s in stats %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>
                    {% if s[2] %}
                    {{ "{:,.1f}".format(s[2]) }} VND
                    {% else %}
                    0 VND
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>

    </div>
    <div class="col-md-5 col-xs-12">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" name="kw" placeholder="Nhập từ khóa.."/>


            </div>
            <div class="form-group">
                 <input type="date" class="form-control" name="from_date"/>
            </div>
            <div class="form-group">
                 <input type="date" class="form-control" name="to_date"/>
            </div>
            <input type="submit" value="Thống kê" class="btn-info">
        </form>
        <canvas id="productsChartId"></canvas>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let labels=[]
    let data =[]
    // let color =[]
    // let borderColors =[]
    // let r, g, b;

    {% for s in stats %}
    {% if s[2] %}
        labels.push('{{ s[1] }}')
        data.push({{ s[2] }})

    // r = Math.random()*255
    // g = Math.random()*255
    // b = Math.random()*255
    //
    // color.push(`rgba(${r}, ${g}, ${b},0.2)`)
    // borderColors.push(`rgba(${r}, ${g}, ${b}, 1)`)
    {% endif %}
    {% endfor %}
    window.onload = function (){
        const ctx = document.getElementById('productsChartId').getContext('2d');
                new Chart(ctx, {
            type: 'bar',
            data: {
              labels: labels,
              datasets: [{
                label: 'Thống kê doanh thu ',
                data: data,
                borderWidth: 1
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });
    }
</script>
{% endblock %}