{% extends 'layout/base.html' %}
{% block title %}Giỏ hàng{% endblock %}
{% block content %}
    <h1 class="text-center text-danger">Giỏ hàng</h1>
    {% if 'cart' in session and session['cart'] %}
    <table class="table">
        <tr>
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Đơn giá</th>
            <th>Số lượng</th>
            <th></th>
        </tr>
        {% for c in session['cart'].values() %}
        <tr id="product{{ c.id }}">
            <td>{{ c.id }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.price }}</td>
            <td>
                <div class="form-group">
                    <input type="number" min="1" onblur="updateCart( {{ c.id }} , this)" value="{{ c.quantity }}" class="form-group"/>
                </div>
            </td>
            <td>
                <input type="button"
                       onclick="deleteCart({{ c.id }})"
                       value="Xoa" class="btn btn-danger">
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="alert alert-info">
        <h5>Tổng sản phẩm: <span class="cart-counter">{{ stats.total_quantity }}</span> </h5>
        <h5>Tổng tiền: <span id="total-amount">{{ "{:,.1f}".format(stats.total_amount) }}</span>  VND</h5>
    </div>

    {% if current_user.is_authenticated %}
    <input type="button" value="Thanh toán" class="btn btn-success" onclick="pay()"/>

    {% else %}
    <a href="{{ url_for('user_signin', next='cart')}}">Đăng nhập để thanh toán</a>
    {% endif %}
    <br><br>
    {% else %}
    <p><i>Không có sản phẩm nào trong giỏ!!!</i></p>
{% endif %}
{% endblock %}